<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else fimDeJogo">
  <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo >
  <div class="container" style="margin-top: 50px">
    <div class="row">
      <div class="col">
        <div *ngIf="tipoEncerramento === 'derrota'; else voceGanhou ">
            <p style="color: red">voce perdeu</p>
            <button (click)="reiniciarJogo()" class="btn btn-primary">
              Reiniciar Jogo
            </button>
        </div>
        <ng-template #voceGanhou>
            <p style="color: green">voce ganhou</p>
            <button (click)="reiniciarJogo()" class="btn btn-primary">
                Reiniciar Jogo
              </button>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>

